---
import SEO from '../components/SEO/SEO.astro';
import type {
  ExtendMetadata,
  OpenGraphMeta,
  TwitterMeta,
} from '../components/SEO/props';
import '../styles/global.scss';
import { AppConfig } from '../config';
import Header from '../components/Header/Header.astro';
import { joinURL } from '../libs/url/url';

export interface Props {
  frontmatter?: Record<string, any>;
}

const { frontmatter } = Astro.props;
const baseURL = import.meta.env.SITE;
const siteLogo = import.meta.env.SITE_LOGO;
const siteName = import.meta.env.SITENAME;
const siteNameSub = import.meta.env.SITENAME_SUB;
const pageTitle = (frontmatter?.title ? `${frontmatter.title} | ` : '') + AppConfig.title;
const seoImg = joinURL(baseURL, frontmatter?.image || siteLogo);
const seoDesc = frontmatter?.description || AppConfig.description;
const seoTitle = frontmatter?.title || AppConfig.title;
const openGraph: OpenGraphMeta = {
  basic: {
    title: seoTitle,
    type: frontmatter?.type || 'website',
    image: seoImg,
    url: Astro.url.href || AppConfig.origin,
  },
  optional: {
    description: seoDesc,
  },
  image: {
    alt: seoDesc,
  },
};
const twitter: TwitterMeta = {
  card: 'summary_large_image',
  creator: '@_tieppt',
};
const extend: ExtendMetadata = {
  meta: [
    {
      name: 'twitter:title',
      content: seoTitle,
    },
    {
      name: 'twitter:description',
      content: seoDesc,
    },
    {
      name: 'twitter:image',
      content: seoImg,
    },
    {
      name: 'twitter:image:alt',
      content: seoDesc,
    },
    {
      name: 'google-site-verification',
      content: '',
    },
    {
      name: 'msvalidate.01',
      content: '',
    },
  ],
};

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={siteLogo || '/favicon.svg'} />
    <SEO
      title={pageTitle}
      description={frontmatter?.description || AppConfig.description}
      openGraph={openGraph}
      twitter={twitter}
      extend={extend}
    />
  </head>
  <body class="main-theme">
    <Header
      baseURL={baseURL}
      logo={siteLogo}
      siteName={siteName}
      siteNameSub={siteNameSub}
    />
    <slot />
  </body>
</html>
